<% layout('/layouts/boilerplate.ejs') -%>
<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .filter{
    text-align: center;
    opacity: 0.7;
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.8rem;
  }

  .tax-info{
    display: none;
  }

  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height:3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 480px) {
  #filters {
    display:flexbox;
    margin-top:-2px;
  }

  .filter{
    text-align: center;
    opacity: 0.7;
    margin-right: 1rem;
    margin-top: 0.5rem;
  }
.filter P{
  font-size: 0.7rem;
}
.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height:2rem;
    padding: 1rem;
    margin-left: 3rem;
    margin-top: 0rem;
    display: flex;
    align-items: center;
    font-size: small;
  }

}
</style>
<body>
    <div id="filters">
      <div class="filter">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </div>

      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </div>

      
      <div class="filter">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Dome</p>
      </div>

      <div class="filter">
        <div><i class="fa-solid fa-ferry"></i></div>
        <p>Boats</p>
      </div>


      <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
      </div>
    </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listings of alllistings){%>
        <a href="/listings/<%=listings._id%>" class="listing-link">
    <div class="card col card-listing" >
        <img src="<%= listings.image.url %>" class="card-img-top" alt="image" style="height: 20rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"><b><%= listings.title %></b>
        <br>
        &#8377;<%=listings.price.toLocaleString("en-IN")%>/night
       <i class="tax-info"> &nbsp; &nbsp; +18% GST </i> 
        </p>
        </div>
      </div>
      <%}%>
    </div>
</a>
</body>

<script>
  const taxswitch=document.getElementById("flexSwitchCheckDefault");
  taxswitch.addEventListener("click",()=>{

    let taxinfo=document.getElementsByClassName("tax-info");

    for(info of taxinfo){
      if(info.style.display !="inline"){
        info.style.display="inline";
      }
      else{
        info.style.display="none";
      }
    }
    
  })
</script>