<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt=3">
    <h3>Create a New Listings</h3>
    <form  method="post"  action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <lable for="title" class="form-label">title</lable>
    <input name="listing[title]" placeholder="add A catche title" type="text" class="form-control" required>
    <div class="valid-feedback">
       title Looks good!
      </div>
</div>
<div class="mb-3"> 
    <lable for="description" class="form-label">description</lable>
    <textarea name="listing[description]" type="text" class="form-control" required></textarea>
    <div class="invalid-feedback">
        Please enter valid description
      </div>
</div>
<div class="mb-3">
    <lable for="image" class="form-label">image</lable>
    <input name="listing[image]"  type="file"class="form-control" required>
</div>
<div class="row">
    <div class="mb-3 col-md-4">
        <lable for="price" class="form-label">price</lable>
        <input name="listing[price]" placeholder="1200" class="form-control" required>
        <div class="invalid-feedback">
           price should be valid
          </div>
    </div>
<div class="mb-3 col-md-8">
    <lable for="country" class="form-label">country</lable>
    <input name="listing[country]" placeholder="India" type="text"class="form-control" required>
    <div class="invalid-feedback">
       country should be valid
       </div>
</div>
</div>
<div class="mb-3">
    <lable for="location" class="form-label">location</lable>
    <input name="listing[location]" placeholder="nashik,mumbai" type="text" class="form-control" required>
    <div class="invalid-feedback">
       location should be valid
        </div>
</div>
    <button class="btn btn-dark  btn-add mt-3">add</button>
</form>
</div>
</div>
</body>