body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.container{
    flex: 1;
}
.fa-compass{
    color: #fe424d;
    font-size:  2rem;
}
.nav-link{
    color: black !important;
}
/* style footer */
.f-info-link a{
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover{
    text-decoration:underline;
}
.f-info-social,.f-info-link,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.f-info-social i{
    font-size: 1.2rem;
    margin:0.5rem ;
}
.f-info{
    text-align: center ;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly ;
}

/* card */
.card-listing{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;

}
.card-body{
    padding: 0 !important;
}
.card-text{
   font-weight:400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* new style */
.btn-add{
    background-color: #fe424d !important;
    border: none !important;
}
/* edit style */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
/* show style */
.show-img{
    height: 30vh;
}
.btns{
    display:flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
#map{
    height:400px;
    width: 90vh;
}